<app-header/>

<div class="student-dashboard">
  <nav class="side-nav">
    <ul>
        <li><a routerLink="/student/all-courses" routerLinkActive="active">All Courses</a></li>
        <li><a routerLink="/student/enrolled-courses" routerLinkActive="active">Enrolled Courses</a></li>
        <li><a routerLink="/student/progress" routerLinkActive="active">Progress</a></li>
        <li><a routerLink="/student/profile" routerLinkActive="active">Profile</a></li>
    </ul>
    <div class="logout">
        <button (click)="onLogout()">Log Out</button>
    </div>
  </nav>

  <!-- Main Content Area -->
  <div class="main-content">
    <!-- Show placeholder text only when no route is active -->
    <div *ngIf="isPlaceholderVisible" class="placeholder-text">Select a tab to view Content</div>
    <router-outlet (activate)="onRouteActivate()"></router-outlet>
  </div>
</div>